* {
  margin: 0;
  padding: 0;  
}

body {
  background: url('./images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.header {
  margin-top: 25%;
  font-size: 80px;
  font-weight: 900;
  color: coral;
}

.home-p {
  background-color: bisque;
  opacity: 0.8;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-size: 22px;
  border-radius: 5px;
  margin-top: 40px;
  line-height: 2;
}

.navbar {  
  background-color: bisque;
  opacity: 0.7;
  padding-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}

.nav-item:hover {
  border-bottom: 5px solid coral;
  cursor: pointer;  
}

.items-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.item {
  width: 230px;
  background-color: bisque;
  opacity: 0.8;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.food-image {
  margin-top: 30px;
  max-width: 200px;
}

.sub-header {
  color: coral;
  font-size: 25px;
  margin: 10px;
}

.price {
  float: right;
}